{% extends 'base.html' %}
{% load static %}

{% block title %} Личный кабинет {% endblock %}
{% block content %}
    <div class="text-center">
        <h1 class="h3 mb-3 mt-3 font-weight-normal">Личный кабинет:</h1>

        <form action="{% url 'profile_page' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button type="submit">+ Добавить навык</button>
        </form>

    </div>
{% endblock %}



